body {
    font-family: Arial, sans-serif;
    background-image: url("banking.avif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 450px;
    text-align: center;
    z-index: 1;
    position: absolute;
    top: 50%;
    right: 15%;
    transform: translateY(-50%);
}

h1 {
    margin-bottom: 30px;
}

h2 {
    font-size: 24px;
    color: #080808;
    margin-bottom: 20px;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.transactions {
    margin-bottom: 40px;
}

input[type="number"] {
    width: 80%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 15px;
    background-color: #C85250;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #E7625F;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    color: rgb(19, 18, 18);
}

footer a {
    color: #131212;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}